body {
  font-family: Poppins, sans-serif;
  margin: 2rem;
  background: var(--bg-dark);
  color: var(--text-on-bg-dark);
}

h1 {
  margin-bottom: 1rem;
}

button, input, textarea {
  font: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
header div {
  display: flex;
  gap: 1rem;
}

.add-note-btn {
  background: var(--bg);
  color: var(--text-on-bg);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.15s linear;
  width: max-content;
}

.add-note-btn:hover {
  background: color-mix(in oklch, var(--bg) 80%, white 20%);
}


.notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.note-card {
  background: var(--bg);
  border-radius: 0.75rem;
  padding: 1.5rem;
  border: 1px solid var(--bg);
  transition: all 0.2s ease;
  position: relative;
}

.note-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.note-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  color: var(--text-on-bg);
  word-wrap: break-word;
}

.note-content {
  color: var(--text-on-bg);
  line-height: 1.6;
  margin-bottom: 1rem;
  text-align: justify;
  /* word-break: break-all; */
}

.note-actions {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}

.note-card:hover .note-actions {
  opacity: 1;
  visibility: visible;
}

.delete-icon, .edit-icon {
  fill: var(--text-on-bg);
}

.edit-btn, .delete-btn {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  backdrop-filter: blur(10px);
}

.edit-btn:hover {
  background: var(--accent);
  transform: scale(1.1);
}

.delete-btn:hover {
  background: var(--warning);
  transform: scale(1.1);
}

dialog {
  margin: auto;
  inset: 0;
  border: none;
  border-radius: 1rem;
  padding: 0;
  background: var(--surface);
  color: var(--text-on-surface);
  max-width: 500px;
  width: 90vw;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
}

.dialog-content {
  padding: 2rem;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.dialog-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.25rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease;
}


.form-group {
  margin-bottom: 1.5rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.form-input, .form-textarea {
  width: 100%;
  padding: 0.75rem;
  border: 2px solid var(--surface);
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  background: var(--bg);
  color: var(--text-on-bg);
}
.form-input::placeholder, .form-textarea::placeholder {
  color: var(--text-muted-on-bg);
}

.form-input:focus, .form-textarea:focus {
  outline: none;
  border-color: var(--accent);
}

.form-textarea {
  resize: vertical;
  min-height: 120px;
}

.dialog-actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.cancel-btn, .save-btn {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

.cancel-btn {
  background: var(--bg);
  color: var(--text-on-bg);
}
.cancel-btn:hover{
  background: var(--bg-dark);
  color: var(--text-on-bg-dark);
}

.save-btn {
  background: var(--accent-muted);
  color: var(--text-on-accent-muted);
}

.save-btn:hover {
  background: var(--accent);
  color: var(--text-on-accent);
}

.empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--surface);
  border-radius: 1rem;
  text-align: center;
  padding: 4rem 2rem;
  color: var(--text-on-surface);
}

.empty-state h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.empty-state p {
  font-size: 1rem;
  margin-bottom: 2rem;
}


@media (max-width: 620px) {
  .add-note-btn::after{
    display: none;
  }
}